<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="SERVICE_NAME" value="orcl.YemenSoft.Org" />
    <add key="HOST" value="209.95.49.234" />
    <add key="PORT" value="1521" />
    <add key="Password" value="C/FKP6X5/T3Qv21yMIL0s/Frdm+HhpD15L9W1xWTvb5ps1VocV0sypbgZzM7H1sZsjpvPuwzAtUB2JBLo/kOg4OCt4c1MaB40Pt7dZwX8tpyKxU+16504b3TXzR9Tjo+uCEcW2dbLo+n7cQkTKUUdcovccQEryIvaDgN9m6E9JFnw0NKRYc7wowEfSw88fEkkgoLkf3J9LBNCoNbe2Jt+GOrAsSkWSmiC1SP5yv32tL24wDRjMnXpXZt2CFTv0mDrXWmaHiglIDyfetD6KPcD3ZKzQFc5oNn7tAGTvnQ9g4RF6LZ6KIItypc8p5C0nQFoKVXgx7o0MzKgYEZo8Z4Dw==" />-->
    <!--<add key="SERVICE_NAME" value="orcl.YemenSoft.Org" />
    <add key="HOST" value="209.95.49.234" />
    <add key="PORT" value="1521" />-->
    <add key="SERVICE_NAME" value="orcl" />
    <add key="HOST" value="209.95.49.234" />
    <add key="PORT" value="1521" />
    <add key="Password" value="" />
    <add key="ImageUrl" value="" />
  </appSettings>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" maxRequestLength="999999999" maxUrlLength="2097151" relaxedUrlToFileSystemMapping="true" />
    <pages validateRequest="false" />
    <compilation targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="999999999999999999" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="999999999" maxStringContentLength="999999999" maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client />
    <services>
      <service name="WCF.Service" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WCF.IService" behaviorConfiguration="web" />
        <endpoint address="soap" binding="basicHttpBinding" contract="WCF.IService" name="SOAPEndPoint" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 7822F8E8-600F-4992-8AC9-A8187003CAAF-->